{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": [
          { "shared-components": "./src/shared/components" },
          { "shared-constants": "./src/shared/constants" },
          { "shared-theme": "./src/shared/theme" },
          { "utils": "./src/utils/" },
          { "services": "./src/services" },
          { "requests": "./src/services/api/requests" },
          { "fonts": "./src/shared/theme/fonts/index" },
          { "colors": "./src/shared/theme/colors" },
          { "font-size": "./src/shared/theme/font-size" },
          { "spacing": "./src/shared/theme/spacing" },
          { "theme": "./src/shared/theme/index" },
          { "assets": "./assets/" },
          { "screens": "./src/screens" }
        ]
      }
    ]
  ]
}
